.Rproj.user
.Rhistory
.RData
DataPrepped.rda
JAGS_DataList.rda
ModelFits
Figures
IDFG_Comparison
Outgoing
B_run_steelhead
Escapement_AllYrs_NIMBLE.R
Data/IDFG/IDFG_estimates
Data/IDFG/sy09-15ThetasForKevin_20151117.csv